// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden {
  display: none;
}

p {
  margin: 8px !important;
}

input[type="number"] {
  margin: 0;
}

@media screen and (max-width: 39.9375em) {
  input[type="number"] {
    width: 36px;
    margin: 0;
  }
}

.row.column hr {
  margin: 0;
}

.button.small {
  font-size: inherit;
  margin: 0;
}

.action_button {
  padding: 2px 2px 7px;
}
