// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hidden {
  display: none;
}

.serviced {
  color: green;
}

.in_progress {
  color: orange;
}

p {
  margin: 8px !important;
}

input[type="number"] {
  width: 36px;
}
